<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block head %}
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com"> <!-- //设置要预提取的cdn域名 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazyloadjs/3.2.2/lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-tag/1.5.11/x-tag-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.2/localforage.min.js"></script>
    {% endblock %}
    {% block styles %}{% endblock %}
</head>

<body>
    <a href="/index/praise">大拇指</a>
    <a href="/index/star">星星</a>
    <div class="con">
        {% block content %}{% endblock %}
    </div>

</body>
<script>
    $(document).pjax('a', '.con');
    localforage.getItem('store', function (err, value) {
        if (value == null) {
            $.ajax({
                url: '/index/store',
                success: function (data) {
                    localforage.setItem('store', data);
                    $('body').prepend(data);
                }
            })
        } else {
            $("body").prepend(value);
        }
    })
</script>
{% block script %}{% endblock %}

</html>